name: Run Newman and Send to Datadog

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Newman
        run: npm install -g newman newman-reporter-json

      - name: Run Newman tests
        run: |
          newman run postman_collection.json \
           -e postman_environment.json \
           -r json \
           --reporter-json-export results.json

      - name: Install Node dependencies
        run: npm install

      - name: Send logs to Datadog
        env:
          DD_API_KEY: ${{ secrets.DATADOG_API_KEY }}   
        run: node send-to-datadog.js
