name: Run Hoppscotch Tests and Send Results to Datadog

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install Hoppscotch CLI
        run: npm install -g @hoppscotch/cli

      - name: Run Hoppscotch Tests
        continue-on-error: true
        run: |
          hopp test hoppscotch_collection.json \
            --env hoppscotch_environment.json \
            --json > results.json

      - name: Send Report to Datadog
        env:
          DD_API_KEY: ${{ secrets.DATADOG_API_KEY }}
        run: node send-to-datadog.js
