name: Run Hoppscotch Tests and Send Results to Datadog

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install Hoppscotch CLI
        run: |
          npm install -g @hoppscotch/cli

      - name: Run Hoppscotch Tests
        continue-on-error: true
        run: |
          ls -R .
          hopp test postman_collection.json \
            --env postman_environment.json \
            --reporter=junit \
            --reporter-junit-export results.xml

      - name: Send Report to Datadog
        env:
          DD_API_KEY: ${{ secrets.DATADOG_API_KEY }}
        run: node send-to-datadog.js
