name: Run Newman Tests and Send Results to Datadog

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install Newman
        run: |
          npm install -g newman newman-reporter-json

      - name: Run Newman Collection
        continue-on-error: true
        run: |
          ls -R .
          newman run postman_collection.json \
            -e postman_environment.json \
            -r json \
            --reporter-json-export results.json

      - name: Send Report to Datadog
        env:
          DD_API_KEY: ${{ secrets.DATADOG_API_KEY }}
        run: node send-to-datadog.js
